<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- The HTML 4.01 Transitional DOCTYPE declaration-->
<!-- above set at the top of the file will set     -->
<!-- the browser's rendering engine into           -->
<!-- "Quirks Mode". Replacing this declaration     -->
<!-- with a "Standards Mode" doctype is supported, -->
<!-- but may lead to some differences in layout.   -->

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Ruzzle solver - solution - generateur - cheat</title>
  </head>

  <body>
    <h1>Ruzzle solver</h1>
    <!-- <% for (int i = 0; i <16 ; i++) {
    %>
      <%= i %> 
     <% } %> --> 
    
    <a href="ruzzlesolver?grid=aerdnutrfgerloip&gridBonus=00400310023200321">Launch Ruzzlesolver</a>

  </body>
</html>
